@import '../../functions';


/**
 * Mixin to create classes of margin and padding
 */
_rs-margin-or-padding-value($prefix = '', $margin-or-padding, $base-size, $scale-number) {
  // generate `margin`, 'margin-top', 'margint-right' .. classes
  for $direction in ('' 'top' 'right' 'bottom' 'left') {
    // scaling class e.g. 'margin-0', 'margin-1x', 'margin-2x' ...
    for $i in 0..$scale-number {
      $suffix = '' + $i;
      if (0 < $i) {
        $suffix += 'x';
      }

      // margin
      {rs-get-class-name($prefix, $margin-or-padding, $direction, $suffix)} {
        {rs-get-valid-hyphen-case-string($margin-or-padding $direction)}: $i * $base-size;
      }
    }

    // auto value class e.g. 'margin-auto', 'margin-top-auto' ...
    {rs-get-class-name($prefix, $margin-or-padding, $direction, auto)} {
      {rs-get-valid-hyphen-case-string($margin-or-padding $direction)}: auto;
    }
  }
}


// Generate for margin classes
rs-margin-value($prefix = '', $base-size = 4px, $scale-number = 20) {
  _rs-margin-or-padding-value($prefix, margin, $base-size, $scale-number);
}

// Generate for padding classes
rs-padding-value($prefix = '', $base-size = 4px, $scale-number = 20) {
  _rs-margin-or-padding-value($prefix, padding, $base-size, $scale-number);
}
