@import '../../functions';


/**
 * Mixin to create classes of margin and padding
 */
_rs-margin-or-padding-value($prefix = '', $margin-or-padding, $base-size) {
  // generate `margin`, 'margin-top', 'margint-right' .. classes
  for $direction in ('' 'top' 'right' 'bottom' 'left') {
    // TODO: Enable to set scale number with config
    for $i in 1..20 {
      $suffix = '' + $i + 'x';

      // margin
      {rs-get-class-name($prefix, $margin-or-padding, $direction, $suffix)} {
        {rs-get-valid-hyphen-case-string($margin-or-padding $direction)}: $i * $base-size;
      }
    }
  }
}


// Generate for margin classes
rs-margin-value($prefix = '', $base-size = 4px) {
  _rs-margin-or-padding-value($prefix, margin, $base-size);
}

// Generate for padding classes
rs-padding-value($prefix = '', $base-size = 4px) {
  _rs-margin-or-padding-value($prefix, padding, $base-size);
}
