@import '../../_mixins';


/**
 * Mixin to create classes of text-shadow
 */
uc-text-shadow($prefix = '', $options = null) {
  // if no $options is passed, process nothing
  if (typeof($options) != 'object' || length($options) < 1) {
    return;
  }

  // generate classes from $options
  uc-generate-classes-by-option({
    prefix: ($prefix 'text-shadow'),
    property: text-shadow,
    data: $options,
  });
}
