// default config values to generate classes
$rs-configs = {
  // global prefix that used as namespace
  'global-prefix': 'rs',

  // settings of media query class
  'media-query': {
    'sm': (null 599),
  },

  // margin and padding setting
  'margin-padding': {
    '1x': 8px,
    '30': 30px,
    'sectionA': 10px 20px 10px,
  },

  // color setting
  'color': {
    'my-red': red,
    'my-blue': rgb(0, 0, 255),
    'my-green': green,
  },

  // box-shadow config
  'box-shadow': {
    'high': 12px 12px 2px #000,
  },

  // text-shadow config
  'text-shadow': {
    'high': 0 1px 1px #FFF,
  },

  // transition setting
  'transition': {
    'default': all 300ms ease,
    'my-color': color 200ms,
  },

  // text config
  // if set primitive value, will be use with 'font' property
  'text': {
    'my-text': {
      font-family: 'arial',
      font-size: 10px,
      font-weight: 300,
    },
    'body': 13px 'New Gulim'
  },
};
