@import '../../_functions';


/**
 * Mixin to generate color classes
 *
 * @param {string} $prefix - prefix of class name, e.g. 'rs-' of 'rs-class-name'
 * @param {Object} $options - color options to generate class, e.g. { color-key: value }
 */
rs-color($prefix = '', $options) {
  for $key, $val in $options {
    {rs-get-class-name($prefix, 'color', $key)} {
      color: $val;
    }
  }

  // to hover class, e.g. 'rs-hover-color-red'
  for $key, $val in $options {
    {rs-get-class-name($prefix, 'hover', 'color', $key) + ':hover'} {
      color: $val;
    }
  }
}
