@import '../../_mixins';


/**
 * Mixin to create text-align and vertical-align classes
 */
rs-text-align($prefix = '') {
  rs-generate-classes-by-option({
    prefix: ($prefix 'align'),
    property: text-align,
    data: {
      initial: initial,
      inherit: inherit,
      left: left,
      right: right,
      center: center,
      justify: justify,
    },
  });
}
