@import '../../mixins';


/**
 * Mixin to create classes of box-sizing
 */
rs-box-sizing($prefix = '') {
  rs-generate-classes-by-option({
    prefix: ($prefix 'layout'),
    property: box-sizing,
    data: {
      content-box: content-box,
      border-box: border-box,
    },
  });
}
