@import '../../_functions';


/**
 * Mixin to create classes of margin and padding
 */
_rs-extra-margin-or-padding($prefix = '', $margin-or-padding, $data-obj) {
  for $key, $val in $data-obj {
    for $direction in ('' 'top' 'right' 'bottom' 'left') {
      {rs-get-class-name($prefix, $margin-or-padding, $direction, $key)} {
        {rs-get-valid-hyphen-case-string($margin-or-padding $direction)}: $val;
      }
    }
  }
}


// Generate for margin classes
rs-extra-margin($prefix = '', $data-obj = {}) {
  _rs-extra-margin-or-padding($prefix, margin, $data-obj);
}

// Generate for padding classes
rs-extra-padding($prefix = '', $data-obj = {}) {
  _rs-extra-margin-or-padding($prefix, padding, $data-obj);
}
