@import '../../_mixins';


/**
 * Mixin to create classes of overflow
 */
rs-overflow($prefix = '') {
  rs-generate-classes-by-option({
    prefix: ($prefix 'overflow'),
    property: overflow,
    data: {
      visible: visible,
      scroll: scroll,
      hidden: hidden,
      auto: auto,
    },
  });
}
