@import '../../_mixins';


/**
 * Mixin to create classes of font-weight
 */
rs-text-size($prefix = '') {
  $prefix = rs-get-prefix($prefix, 'text-size');

  // generate font-size classes of 1px to 56px
  for $i in 1..56 {
    $v = unit($i, 'px');
    {rs-get-class-name($prefix, $v)} {
      font-size: $v;
    }
  }
}
