@import '../../mixins';


/**
 * Mixin to create classes of text-decoration
 */
rs-text-decoration($prefix = '') {
  rs-generate-classes-by-option({
    prefix: ($prefix 'text-decoration'),
    property: text-decoration,
    data: {
      none: none,
      underline: underline,
      overline: overline,
      line-through: line-through,
    },
  });
}
