@import '../../_functions';


/**
 * Mixin to generate transition classes from options
 *
 * @param {string} $prefix - prefix of class name, e.g. 'rs-' of 'rs-class-name'
 * @param {Object} $options - generating class options, e.g. { transition-key: value }
 */
rs-transition($prefix = '', $options = null) {
  // if no $options is passed, process nothing
  if (typeof($options) != 'object' || length($options) < 1) {
    return;
  }


  for $key, $val in $options {
    {rs-get-class-name($prefix, 'transition', $key)} {
      transition: $val;
    }
  }
}
