@import '../../_functions';


/**
 * Mixin to generate transition classes from options
 *
 * @param {string} $prefix - prefix of class name, e.g. 'uc-' of 'uc-class-name'
 * @param {Object} $options - generating class options, e.g. { transition-key: value }
 */
uc-transition($prefix = '', $options = null) {
  // if no $options is passed, process nothing
  if (typeof($options) != 'object' || length($options) < 1) {
    return;
  }

  // generate transition classes from $options
  uc-generate-classes-by-option({
    prefix: ($prefix 'transition'),
    property: transition,
    data: $options,
  });
}
