@import '../generate/generate-classes-by-option';


/**
 * Mixin to create classes of display
 */
rs-display($prefix = '') {
  rs-generate-classes-by-option({
    prefix: ($prefix 'layout'),
    property: display,
    data: {
      block: {
        display: block,
      },
      column: {
        display: flex,
        flex-direction: column,
      },
      iblock: {
        display: inline-block,
      },
      inline: {
        display: inline,
      },
      row: {
        display: flex,
        flex-direction: row,
      }
    },
  });
}
