@import '../../functions';


// Mixin to create flex-layouts
rs-create-flex($prefix = '') {
  $prefix = rs-get-prefix($prefix, 'layout');


  // keyword and property of justify-content and align-items
  $justify-content = {
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
  };
  $align-items = {
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
  };


  // generate class of `rs-layout-*-*`
  for $jc-key, $jc-val in $justify-content {
    for $ai-key, $ai-val in $align-items {
      {rs-get-class-name($prefix, $jc-key, $ai-key)} {
        align-items: $ai-val;
        justify-content: $jc-val;
      }
    }
  }
}
