/**
 * Function to check whether the argument is hash
 *
 * @param {any} $arg - any type variable, e.g. string, num, hash, and so on
 */
rs-is-hash($arg) {
  // if $arg is null, return 0
  if (!$arg && length($arg) < 1) {
    return 0;
  }

  // because stylus do not have a way to check variable is primitive value or hash object
  // in order to put it into practice, use `for` syntax
  // in `for` syntax below,
  // case $arg is primitive value (e.g. `inline-block`), $argOrKey is `inline-block`, $zeroOrValue is `0`.
  // case $arg is hash object (e.g. `{display: inline}`), $argOrKey is `display`, $zeroOrValue is `inline`.
  for $argOrKey, $zeroOrValue in $arg {
    return !($argOrKey == $arg && $zeroOrValue == 0);
  }
}
