doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Utility CSS
    link(rel='stylesheet', href='./utility-css.min.css')
    link(rel='stylesheet', href='./style.css')
  body
    div
      header
        h1 Utility CSS
      main
        p A set of CSS classes that accelerate your web development.
      footer
        p copyright
