// default options used for generate classes
$rs-options = {
  // global prefix that used as namespace
  'global-prefix': 'rs',

  // margin base size
  'margin-base-size': 4px,

  // how many generate margin-nx classes
  'margin-scale-number': 20,

  // padding base size
  'padding-base-size': 4px,

  // how many generate padding-nx classes
  'padding-scale-number': 20,

  // extra margin and padding classes
  'extra-margin-and-padding': {
    section1: 99px,
    section2: 111px,
    section3: 300px,
  },

  // color setting
  'color': {
    my-red: red,
    my-blue: rgb(0, 0, 255),
    my-green: green,
  },

  // whether use media query classes
  'use-media-query': true,

  // settings of media query class
  'media-query': {
    sm: (null 599),
    md: (600 1199),
    gt-md: (600 null),
    lg: (1200 null),
  }
};
