// config object which is used in *rs* functions wherever
$rs-options = {};


// below is default configs that will be overrided


// global prefix that used as namespace
$rs-options['global-prefix'] = 'rs';

// Whether use media query classes
$rs-options['use-media-query'] = false;

// media query
$rs-options['media-query'] = {
  sm: (null 599),
  md: (600 1199),
  gt-md: (600 null),
  lg: (1200 null)
};
