// default options used for generate classes
$rs-options = {
  // global prefix that used as namespace
  'global-prefix': 'aa',

  // margin base size
  'margin-base-size': 4px,

  // padding base size
  'padding-base-size': 4px,

  // whether use media query classes
  'use-media-query': true,

  // settings of media query class
  'media-query': {
    sm: (null 599),
    md: (600 1199),
    gt-md: (600 null),
    lg: (1200 null)
  }
};
