@import './index';

// setting config variables that injected by gulp
$ext-framework-prefix ?= '';
$ext-use-media-query ?= true;
$ext-media-queries ?= {};


generate-classes($ext-framework-prefix, $ext-use-media-query, $ext-media-queries);
