@import '../functions';


// Mixin to create flex-layouts
rs-create-flex($global_prefix = '', $media = '') {
  $prefix = rs-get-prefix($global_prefix, 'layout');


  // keyword and property of justify-content and align-items
  $justify-content-values = {
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around
  };
  $align-items-values = {
    start: flex-start,
    end: flex-end,
    center: center,
    baseline: baseline,
    stretch: stretch
  };


  // generate class of `rs-layout-*-*`
  for $jc-key, $jc-val in $justify-content-values {
    for $ai-key, $ai-val in $align-items-values {
      {selector('.' + $prefix + $jc-key + '-' + $ai-key)} {
        align-items: $ai-val;
        justify-content: $jc-val;
      }
    }
  }
}



rs-create-flex('rs');
