@import '../../functions';


/**
 * Function to generate classes from option
 *
 * @param {object} $option - generate option
 * @param {string[]} $option.prefix - prefix of classes generated
 * @param {string} $option.property - css property of classes generated
 * @param {object} $option.data - classes style will be set by this
 */
rs-generate-classes-by-option($option) {
  // $options.data must be object
  if (!$option['data'] && length($option['data']) < 1) {
    return error('rs-generate-classes-by-option needs data field');
  }

  // create prefix from multi strings in $option.prefix
  $prefix = rs-get-valid-hyphen-case-string($option['prefix']);

  // generate classes
  for $k, $v in $option['data'] {
    {rs-get-class-name($prefix, $k)} {
      // case data value is object
      if (1 < length($v)) {
        {$v}
      // case data value is single value
      } else {
        {$option['property']}: $v;
      }
    }
  }
}
